
* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
}

.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

.card {
  display: flex;
  max-width: 840px;
  padding: 24px;
}

.card-image {
  width: 300px;
  height: 200px;
  background-image: url(./assets/img-house.jpg);
  background-size: cover;
  border-radius: 6px;
  margin-right: 24px;
  padding: 12px;
}

.card-content {
  flex-grow: 1;
}

.like-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.plus-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 22px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #92174D;
  margin-right: 8px;
}

.property-type span {
  color: #7D858F;
}

.property-rate {
  display: inline;
}

.property-rate::before {
  position: relative;
  top: 2px;
  display: inline-block;
  content: '';
  background-image: url(./assets/icon-star.svg);
  background-size: contain;
  background-position: center center;
  width: 16px;
  height: 16px;
}

.property-rate strong{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.property-rate span{
  color: #7D858F;
}

.card-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #151B26;
  margin-bottom: 16px;
}

.property-detail {
  display: flex;
  flex-direction: column;
}

.property-detail dt {
  display: none;
}

.property-detail dd {
  margin-bottom: 8px;
  font-size: 14px;
  color: #7D858F;
}

.property-detail span::after {
  content: ' · ';
}

.property-detail span:last-child::after {
  content: '';
}